# Production Environment Variables
NODE_ENV=production

# API URLs - Production
NEXT_PUBLIC_AUTH_API_URL=https://seu-auth-api.onrender.com/api/v1/auth
NEXT_PUBLIC_API_URL=https://seu-backend.onrender.com/api/v1
